body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    max-width: 150px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  nav ul li a.tickets {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d4af37;
    color: white;
    margin: 0;
    padding: 20px 10px;

  }
 
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon span {
    height: 2px;
    width: 25px;
    background: #000;
    margin-bottom: 5px;
  }
  
  .menu-icon span:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {
    nav ul {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }
  }
  
  .hero {
    position: relative;
    color: white;
    top: -75px;
    text-align: center;
    padding: 210px 20px;
  }
  
  .page-header__video__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .page-header__video__player iframe {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  .info, .form {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .info h2, .form h2 {
    font-size: 24px;
    color: #0A2B33;
  }
  
  .info p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    background-color: #d4af37;
    color: #ffffff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer {
    background-color: #0A2B33;
    color: white;
    text-align: center;
    padding: 20px;
  }
  